<container class="contact-info background-color">
    <row>
        <columns>
            <spacer size="20"></spacer>
            {{> unsubscribe}}
            <spacer size="10"></spacer>
            <span class="text-small"><strong style="font-size: 10px !important;">Idealist</strong></span>
            <spacer size="0"></spacer>
            <span class="text-small">302 Fifth Avenue, 11th Floor</span>
            <spacer size="0"></spacer>
            <span class="text-small">New York, NY 10001, USA</span>
        </columns>
    </row>
</container>
