<table class="footer">
    <tbody>
        <tr>
            <td>
                <spacer size="25"></spacer>
                <p class="text-small text-center">
                    <a href="http://www.idealist.org/info/About/Terms" target="_blank">Terms and Conditions</a> | <a href="http://www.idealist.org/info/About/Privacy" target="_blank">Privacy Policy</a> <span class="linebreak-responsive">&copy;1995-2016 Action Without Borders</span>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<spacer size="15"></spacer>
