{{!--
XXX: jmf
This partial exists because <li> tags don't conform with our
e-mail template framework in the gmail app on Android devices.
They break out of the <container class="body-content"> box
scaffolded in /src/layous/default.html

Ideally someone would invest time into understanding the layout
engine for the gmail app on android so that this workaround
can be redressed. A project wide for:

{{> list-bullet}}

should turn up all instances.

Check the current marketshare stats for reference.
For example: https://litmus.com/blog/top-10-most-popular-email-clients-of-2015
 --}}

<span style="font-weight: 700; font-size: 15px;">&#8226;</span>
